/node_modules
/yarn.lock
/baileys_auth_info
/auth_info_baileys
/up_time_log
/uploads
/src/web/data/failed_jobs.json
/src/web/data/message_queue.json
/src/web/data/queue_state.json
/src/web/public/css/output.css
/auth_info

.codegpt